// Color variables
$website-width: 1280px;
$main-color: #0e2f44;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$showcase-bg: url('../img/showcase.jpg');
$members-bg: url('../img/members.jpg');
$work-bg: url('../img/work.jpg');
