@import 'config';
@import 'utilities';
@import 'grid_showcase';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Acme', sans-serif;
  line-height: 1.6;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 95px;
  height: 80px;
  display: flex;
  align-items: center;
}

// Navbar (Fixed position out of doc flow)
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-color;
  opacity: 0.8;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  padding: 0 1.5rem;
  transition: 0.5s;

  &.top {
    background-color: transparent;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 1rem 2.2rem;

    a {
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.2rem;
      transition: all 0.5s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $medium-color;
      }
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $showcase-bg no-repeat top center/cover;
    height: 100vh;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }

    // Header Content
    .header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }

    * {
      z-index: 99;
    }
  }

  // Inner pages
  &-inner {
    background: $inner-nav-bg no-repeat 50% / cover;
    height: 6.5rem;
    border-bottom: 3px solid $main-color;

    * {
      z-index: 99;
    }
  }
}

// Home Sections
#home {
  // Home Members
  &-members {
    background: $members-bg no-repeat center center/cover;

    .heroes {
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: repeat(3, 1fr);

      img {
        border-radius: 50%;
        height: 180px;
        width: 180px;
        border: 3px solid $main-color;
        transition: all 1s;

        &:hover {
          height: 200px;
          width: 200px;
        }
      }
    }
  }

  // Home Work
  &-work {
    background: $work-bg no-repeat top center/cover;

    .villains {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2rem;

      .villain-info {
        display: grid;
        grid-template-areas: 'villaingif bio bio bio';
        grid-gap: 1rem;
      }

      .villain-gif {
        grid-area: villaingif;
        height: 200px;
        width: 300px;
      }
      .bio {
        grid-area: bio;
        display: flex;
        flex-direction: column;
        position: relative;
        border-left: 3px solid $main-color;

        h2 {
          z-index: 10;
          padding: 1.2rem 0;
        }
        p {
          z-index: 10;
          padding: 0 5rem;
          text-align: justify;
        }

        &::before {
          content: '';
          background-color: #000;
          opacity: 0.65;
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // Home Gallery
  &-gallery {
    background: $gallery-bg no-repeat center center/cover;
    padding: 1rem 1.5rem 3rem 1.5rem;

    .gallery-grid {
      padding-top: 0.8rem;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
      row-gap: 1.3rem;

      .gallery-grid-item {
        img {
          border: 1px solid $medium-color;
          height: 100%;
          &:hover {
            filter: opacity(90%);
          }
        }
      }
    }
  }
}

// Events
#events {
  &-a {
    background: $events-bg no-repeat 34% center/cover;
  }
}

// Contact
#contact {
  &-a {
    .form-grid {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message'
        'recaptcha recaptcha';
      grid-gap: 1rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .subject-input {
        grid-area: subject;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }
      .text-input {
        background-color: $medium-color;
        padding: 0.8rem 1rem;
      }
    }

    button[type='submit'] {
      width: 50%;
      padding: 1rem 0;
      margin-bottom: 2rem;
    }
  }
}

// Footer
#footer {
  background: #000;
  height: 5rem;
  color: #fff;
  border-top: 2px solid $main-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social .fab {
      box-sizing: content-box;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
        cursor: pointer;
      }
    }
  }
}

@import 'media';
